In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [11]:
data = {
    'a': [1, 4.0, 3],
    'b': [4, None, 6.2],
    'c': [7, 8.0, None]
}
df = pd.DataFrame(data)

In [19]:
df

     a    b    c
0  1.0  4.0  7.0
1  4.0  NaN  8.0
2  3.0  6.2  NaN

In [13]:
df.isna()

       a      b      c
0  False  False  False
1  False   True  False
2  False  False   True

In [16]:
df.dropna()

     a    b    c
0  1.0  4.0  7.0

In [20]:
df.interpolate()

     a    b    c
0  1.0  4.0  7.0
1  4.0  5.1  8.0
2  3.0  6.2  8.0

In [21]:
df.fillna(0)

     a    b    c
0  1.0  4.0  7.0
1  4.0  0.0  8.0
2  3.0  6.2  0.0