In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [56]:
df = pd.read_csv("tech.csv", delimiter= '\t', index_col='Company')

In [16]:
df

                     Revenue  Employees             City        Country
Company
Apple                 274515     147000       California  United States
Samsung Electronics   200734     267937            Suwon    South Korea
Alphabet              182527     135301       California  United States
Foxconn               181945     878429  New Taipei City         Taiwan
Microsoft             143015     163000       Washington  United States
Huawei                129184     197000         Shenzhen          China
Dell Technologies      92224     158000            Texas  United States
Facebook               85965      58604       California  United States
Sony                   84893     109700            Tokyo          Japan
Hitachi                82345     350864            Tokyo          Japan
Intel                  77867     110600       California  United States
IBM                    73620     364800         New York  United States
Tencent                69864      85858         Shenzhen          China
Panasonic              63191     243540            Osaka          Japan
Lenovo                 60742      71500        Hong Kong          China
HP Inc.                56639      53000       California  United States
LG Electronics         53625      75000            Seoul    South Korea

In [ ]:
df.head()

                     Revenue  Employees             City        Country
Company
Apple                 274515     147000       California  United States
Samsung Electronics   200734     267937            Suwon    South Korea
Alphabet              182527     135301       California  United States
Foxconn               181945     878429  New Taipei City         Taiwan
Microsoft             143015     163000       Washington  United States

In [ ]:
df.tail()

                Revenue  Employees        City        Country
Company
Tencent           69864      85858    Shenzhen          China
Panasonic         63191     243540       Osaka          Japan
Lenovo            60742      71500   Hong Kong          China
HP Inc.           56639      53000  California  United States
LG Electronics    53625      75000       Seoul    South Korea

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17 entries, Apple to LG Electronics
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Revenue    17 non-null     int64
 1   Employees  17 non-null     int64
 2   City       17 non-null     object
 3   Country    17 non-null     object
dtypes: int64(2), object(2)
memory usage: 1.2+ KB

In [ ]:
df.describe()

             Revenue      Employees
count      17.000000      17.000000
mean   112523.235294  204125.470588
std     63236.957691  198345.912495
min     53625.000000   53000.000000
25%     69864.000000   85858.000000
50%     84893.000000  147000.000000
75%    143015.000000  243540.000000
max    274515.000000  878429.000000

In [ ]:
df.shape #numero de columnas

(17, 4)

In [ ]:
df.size # numero total de datos

68

In [ ]:
df.ndim # numero de dimensiones

2

In [ ]:
df.index #indice

Index(['Apple', 'Samsung Electronics', 'Alphabet', 'Foxconn', 'Microsoft',
       'Huawei', 'Dell Technologies', 'Facebook', 'Sony', 'Hitachi', 'Intel',
       'IBM', 'Tencent', 'Panasonic', 'Lenovo', 'HP Inc.', 'LG Electronics'],
      dtype='object', name='Company')

In [ ]:
df.columns #Columnas

Index(['Revenue', 'Employees', 'City', 'Country'], dtype='object')

In [ ]:
df.values #Valores

array([[274515, 147000, 'California', 'United States'],
       [200734, 267937, 'Suwon', 'South Korea'],
       [182527, 135301, 'California', 'United States'],
       [181945, 878429, 'New Taipei City', 'Taiwan'],
       [143015, 163000, 'Washington', 'United States'],
       [129184, 197000, 'Shenzhen', 'China'],
       [92224, 158000, 'Texas', 'United States'],
       [85965, 58604, 'California', 'United States'],
       [84893, 109700, 'Tokyo', 'Japan'],
       [82345, 350864, 'Tokyo', 'Japan'],
       [77867, 110600, 'California', 'United States'],
       [73620, 364800, 'New York', 'United States'],
       [69864, 85858, 'Shenzhen', 'China'],
       [63191, 243540, 'Osaka', 'Japan'],
       [60742, 71500, 'Hong Kong', 'China'],
       [56639, 53000, 'California', 'United States'],
       [53625, 75000, 'Seoul', 'South Korea']], dtype=object)

In [ ]:
df.iloc[0] #Indice numerico mediante la posicion

Revenue             274515
Employees           147000
City            California
Country      United States
Name: Apple, dtype: object

In [117]:
df.iloc[-1]

Revenue            53625
Employees          75000
City               Seoul
Country      South Korea
Name: LG Electronics, dtype: object

In [ ]:
df.iloc[3:5]

           Revenue  Employees             City        Country
Company
Foxconn     181945     878429  New Taipei City         Taiwan
Microsoft   143015     163000       Washington  United States

In [ ]:
df.iloc[::5] #salto de 5 en 5 filas

         Revenue  Employees        City        Country
Company
Apple     274515     147000  California  United States
Huawei    129184     197000    Shenzhen          China
Intel      77867     110600  California  United States
HP Inc.    56639      53000  California  United States

In [ ]:
df.loc['Apple']

Revenue             274515
Employees           147000
City            California
Country      United States
Name: Apple, dtype: object

In [ ]:
df.loc['IBM']

Revenue              73620
Employees           364800
City              New York
Country      United States
Name: IBM, dtype: object

In [ ]:
df.loc['Sony':'Intel']

         Revenue  Employees        City        Country
Company
Sony       84893     109700       Tokyo          Japan
Hitachi    82345     350864       Tokyo          Japan
Intel      77867     110600  California  United States

In [ ]:
df['Revenue'] #Equivalente a df.renueve

Company
Apple                  274515
Samsung Electronics    200734
Alphabet               182527
Foxconn                181945
Microsoft              143015
Huawei                 129184
Dell Technologies       92224
Facebook                85965
Sony                    84893
Hitachi                 82345
Intel                   77867
IBM                     73620
Tencent                 69864
Panasonic               63191
Lenovo                  60742
HP Inc.                 56639
LG Electronics          53625
Name: Revenue, dtype: int64

In [ ]:

#se pueden seleccionar varias columnas a la vez pasando por una lista

df[['Employees','City']].head()

                     Employees             City
Company
Apple                   147000       California
Samsung Electronics     267937            Suwon
Alphabet                135301       California
Foxconn                 878429  New Taipei City
Microsoft               163000       Washington

In [ ]:
# Reordenacion de columnas de un dataframe
df_reordered = df[['City','Country','Revenue','Employees']]
df_reordered.head()

                                City        Country  Revenue  Employees
Company
Apple                     California  United States   274515     147000
Samsung Electronics            Suwon    South Korea   200734     267937
Alphabet                  California  United States   182527     135301
Foxconn              New Taipei City         Taiwan   181945     878429
Microsoft                 Washington  United States   143015     163000

In [ ]:
# acceso a filas y colummnas
df.head()

                     Revenue  Employees             City        Country
Company
Apple                 274515     147000       California  United States
Samsung Electronics   200734     267937            Suwon    South Korea
Alphabet              182527     135301       California  United States
Foxconn               181945     878429  New Taipei City         Taiwan
Microsoft             143015     163000       Washington  United States

In [ ]:
# acceso al primer valor de numero de empleados
df.iloc[0,0]

274515

In [ ]:
# Acceso a ciudad y pais de las emmpresas sony, panasonic y lenovo
df.loc[['Sony','Panasonic','Lenovo'],['City','Country']]

                City Country
Company
Sony           Tokyo   Japan
Panasonic      Osaka   Japan
Lenovo     Hong Kong   China

In [ ]:
# Acceso a la ultima fila del dataframe
df.iloc[:,-1]

Company
Apple                  United States
Samsung Electronics      South Korea
Alphabet               United States
Foxconn                       Taiwan
Microsoft              United States
Huawei                         China
Dell Technologies      United States
Facebook               United States
Sony                           Japan
Hitachi                        Japan
Intel                  United States
IBM                    United States
Tencent                        China
Panasonic                      Japan
Lenovo                         China
HP Inc.                United States
LG Electronics           South Korea
Name: Country, dtype: object

In [ ]:
#Acceso a las tres ultimas columnas y a dos primeras columnas

df.iloc[-3:,:2]

                Revenue  Employees
Company
Lenovo            60742      71500
HP Inc.           56639      53000
LG Electronics    53625      75000

In [ ]:
# acceso desde las filas que van desde <Apple> a <Huawei>  y a columnas que van desde
# <Revenue> a <City>
df.loc['Apple':'Huawei','Revenue':'City']

                     Revenue  Employees             City
Company
Apple                 274515     147000       California
Samsung Electronics   200734     267937            Suwon
Alphabet              182527     135301       California
Foxconn               181945     878429  New Taipei City
Microsoft             143015     163000       Washington
Huawei                129184     197000         Shenzhen

In [ ]:
# Seleccion condicional
df['Country']=='United States'

Company
Apple                   True
Samsung Electronics    False
Alphabet                True
Foxconn                False
Microsoft               True
Huawei                 False
Dell Technologies       True
Facebook                True
Sony                   False
Hitachi                False
Intel                   True
IBM                     True
Tencent                False
Panasonic              False
Lenovo                 False
HP Inc.                 True
LG Electronics         False
Name: Country, dtype: bool

In [ ]:
# Aplicando mascara al conjunto original de datos   para obtener las empresas
# que estamos buscando
df[df['Country']=='United States']

                   Revenue  Employees        City        Country
Company
Apple               274515     147000  California  United States
Alphabet            182527     135301  California  United States
Microsoft           143015     163000  Washington  United States
Dell Technologies    92224     158000       Texas  United States
Facebook             85965      58604  California  United States
Intel                77867     110600  California  United States
IBM                  73620     364800    New York  United States
HP Inc.              56639      53000  California  United States

In [ ]:
# condiciones compuestas
revenue_condition = df['Revenue'] > 100_000 # Seleccionar emmpresas con mas de 100 millones de ingresos
employees_condition = df['Employees']> 100000 # Seleccionar emmpresas con mas de 100 millones de empleados
df[revenue_condition & employees_condition] # Operador logico para combinar condiciones de seleccion

                     Revenue  Employees             City        Country
Company
Apple                 274515     147000       California  United States
Samsung Electronics   200734     267937            Suwon    South Korea
Alphabet              182527     135301       California  United States
Foxconn               181945     878429  New Taipei City         Taiwan
Microsoft             143015     163000       Washington  United States
Huawei                129184     197000         Shenzhen          China

In [ ]:
# Comprobar sin un valor est dentro de una lista de  opciones
mask = df['City'].isin(['California','Tokio'])
df[mask]

          Revenue  Employees        City        Country
Company
Apple      274515     147000  California  United States
Alphabet   182527     135301  California  United States
Facebook    85965      58604  California  United States
Intel       77867     110600  California  United States
HP Inc.     56639      53000  California  United States

## Ejercicios

In [3]:
# Ejercicio  1 ->
dmc2 = pd.read_csv("democan.csv",index_col="Island")
dmc2

               Population     Area Province
Island
Gran Canaria       855521  1560.10     LPGC
Tenerife           928604  2034.38     SCTF
La Palma            83458   708.32     SCTF
Lanzarote          155812   845.94     LPGC
La Gomera           21678   369.76     SCTF
El Hierro           11147   278.71     SCTF
Fuerteventura      119732  1659.00     LPGC

In [169]:
dmc2.loc[::]

          Island  Population     Area Province
0   Gran Canaria      855521  1560.10     LPGC
1       Tenerife      928604  2034.38     SCTF
2       La Palma       83458   708.32     SCTF
3      Lanzarote      155812   845.94     LPGC
4      La Gomera       21678   369.76     SCTF
5      El Hierro       11147   278.71     SCTF
6  Fuerteventura      119732  1659.00     LPGC

In [ ]:
dmc2.loc[4:5]

In [4]:
dmc2.iloc[::2,1]

Island
Gran Canaria     1560.10
La Palma          708.32
La Gomera         369.76
Fuerteventura    1659.00
Name: Area, dtype: float64

In [109]:
dmcArea=dmc2['Area'] > 1000
dmc2[dmcArea]

          Island  Population     Area Province
0   Gran Canaria      855521  1560.10     LPGC
1       Tenerife      928604  2034.38     SCTF
6  Fuerteventura      119732  1659.00     LPGC

In [123]:
df.query('Country == "United States"')

                   Revenue  Employees        City        Country
Company
Apple               274515     147000  California  United States
Alphabet            182527     135301  California  United States
Microsoft           143015     163000  Washington  United States
Dell Technologies    92224     158000       Texas  United States
Facebook             85965      58604  California  United States
Intel                77867     110600  California  United States
IBM                  73620     364800    New York  United States
HP Inc.              56639      53000  California  United States

In [124]:
df.query('Revenue > 100_000 & Employees > 100_000')

                     Revenue  Employees             City        Country
Company
Apple                 274515     147000       California  United States
Samsung Electronics   200734     267937            Suwon    South Korea
Alphabet              182527     135301       California  United States
Foxconn               181945     878429  New Taipei City         Taiwan
Microsoft             143015     163000       Washington  United States
Huawei                129184     197000         Shenzhen          China

In [125]:
df.query('City in ["California","Tokio"]')

          Revenue  Employees        City        Country
Company
Apple      274515     147000  California  United States
Alphabet   182527     135301  California  United States
Facebook    85965      58604  California  United States
Intel       77867     110600  California  United States
HP Inc.     56639      53000  California  United States

In [7]:
size = 1_000_000

data = {
    'A':np.random.randint(1,100,size),
    'B':np.random.randint(1,100,size),
    'C':np.random.randint(1,100,size),
    'D':np.random.randint(1,100,size),
}
df= pd.DataFrame(data)
df.shape

(1000000, 4)

In [8]:
%timeit df[(df['A']>50) & (df['B']<50)]

8.67 ms  273 s per loop (mean  std. dev. of 7 runs, 100 loops each)

In [136]:
%timeit df.query('A > 50 & B <50')

13.6 ms  241 s per loop (mean  std. dev. of 7 runs, 100 loops each)

In [57]:
df_mod = df.copy()

In [18]:
df_mod.equals(df)

True

In [19]:
df_mod.head(1)

         Revenue  Employees        City        Country
Company
Apple     274515     147000  California  United States

In [20]:
df_mod.loc['Apple','Employees'] = 13700

In [21]:
df_mod.head(1)

         Revenue  Employees        City        Country
Company
Apple     274515      13700  California  United States

In [22]:
# Aumento ce ingreso
df_mod['Revenue']*=1.20

In [23]:
df_mod['Revenue'].head()

Company
Apple                  329418.0
Samsung Electronics    240880.8
Alphabet               219032.4
Foxconn                218334.0
Microsoft              171618.0
Name: Revenue, dtype: float64

In [24]:
# modificacion de datos existentes
df_mod['City'] = 'Vigo'
df_mod['Countr'] = 'Spain'

df_mod.head()

                      Revenue  Employees  City        Country Countr
Company
Apple                329418.0      13700  Vigo  United States  Spain
Samsung Electronics  240880.8     267937  Vigo    South Korea  Spain
Alphabet             219032.4     135301  Vigo  United States  Spain
Foxconn              218334.0     878429  Vigo         Taiwan  Spain
Microsoft            171618.0     163000  Vigo  United States  Spain

In [27]:
iso3166 = {
    'United States': 'USA' ,
    'South Korea': 'KOR',
    'Taiwan': 'TWN',
    'China': 'CHN',
    'Japan': 'JPN'
}
df['Country'].replace(iso3166)

Company
Apple                  USA
Samsung Electronics    KOR
Alphabet               USA
Foxconn                TWN
Microsoft              USA
Huawei                 CHN
Dell Technologies      USA
Facebook               USA
Sony                   JPN
Hitachi                JPN
Intel                  USA
IBM                    USA
Tencent                CHN
Panasonic              JPN
Lenovo                 CHN
HP Inc.                USA
LG Electronics         KOR
Name: Country, dtype: object

In [29]:
# Ejercicio: Recodifique la columna Province del dataset democan de tal manera que aparezcan las
# provincias con el texto completo: Santa Cruz de Tenerife y Las Palmas de Gran Canaria.

dmc2 = pd.read_csv("democan.csv",index_col="Island")
dmc2

iso3166 = {
    'SCTF': 'Santa Cruz de Tenerife',
    'LPGC': 'Las Palmas de Gran Canaria'
}
dmc2['Province'].replace(iso3166)

Island
Gran Canaria     Las Palmas de Gran Canaria
Tenerife             Santa Cruz de Tenerife
La Palma             Santa Cruz de Tenerife
Lanzarote        Las Palmas de Gran Canaria
La Gomera            Santa Cruz de Tenerife
El Hierro            Santa Cruz de Tenerife
Fuerteventura    Las Palmas de Gran Canaria
Name: Province, dtype: object

In [43]:
# Insertando y borrando filas
cisco = pd.Series(data=[51_904, 75_900, 'California', 'United States'],index= df_mod.columns, name= 'Cisco')
cisco

Revenue              51904
Employees            75900
City            California
Country      United States
Name: Cisco, dtype: object

In [45]:
# Agregar la serie al dataframe
df_mod = df_mod._append(cisco)
df_mod.tail(3)

                Revenue  Employees        City        Country
Company
HP Inc.           56639      53000  California  United States
LG Electronics    53625      75000       Seoul    South Korea
Cisco             51904      75900  California  United States

In [48]:
# Eliminar filas
df_mod = df_mod.drop(labels=['Facebook','Tencent','Hitachi'])
df_mod.index

Index(['Apple', 'Samsung Electronics', 'Alphabet', 'Foxconn', 'Microsoft',
       'Huawei', 'Dell Technologies', 'Sony', 'Intel', 'IBM', 'Panasonic',
       'Lenovo', 'HP Inc.', 'LG Electronics'],
      dtype='object', name='Company')

In [61]:
#insertando y eliminando columnas
expenses = np.random.randint(50_000,300_000,size=17)
expenses

array([268539,  82493, 262765, 116614, 117839, 263149, 168225, 129309,
       276291, 191248, 130859, 245620, 204279,  58170,  59132, 203670,
       283357])

In [62]:
df_mod['Expenses']= expenses
df_mod.head()

,Revenue,Employees,City,Country,Expenses
Company,,,,,
Apple,274515,147000,California,United States,268539
Samsung Electronics,200734,267937,Suwon,South Korea,82493
Alphabet,182527,135301,California,United States,262765
Foxconn,181945,878429,New Taipei City,Taiwan,116614
Microsoft,143015,163000,Washington,United States,117839

In [63]:
df_mod.columns

Index(['Revenue', 'Employees', 'City', 'Country', 'Expenses'], dtype='object')

In [64]:
# Eliminar la columna
df_mod = df_mod.drop(labels='Expenses', axis =1)
df_mod.columns

Index(['Revenue', 'Employees', 'City', 'Country'], dtype='object')

In [65]:
# Paraametro inplace --- Borrado que devuelve copia con las modificaciones
df_mod.head()

                     Revenue  Employees             City        Country
Company
Apple                 274515     147000       California  United States
Samsung Electronics   200734     267937            Suwon    South Korea
Alphabet              182527     135301       California  United States
Foxconn               181945     878429  New Taipei City         Taiwan
Microsoft             143015     163000       Washington  United States

In [66]:
df_mod.drop(labels=['City','Country'],axis=1,inplace=True)
df_mod.head()

                     Revenue  Employees
Company
Apple                 274515     147000
Samsung Electronics   200734     267937
Alphabet              182527     135301
Foxconn               181945     878429
Microsoft             143015     163000

In [67]:
# Renombrando columnas rename()
new_columns = {'Revenue':'rev','Employees':'emp','City':'cit','Country':'cou'}
df.rename(columns=new_columns).head(3)

                        rev     emp         cit            cou
Company
Apple                274515  147000  California  United States
Samsung Electronics  200734  267937       Suwon    South Korea
Alphabet             182527  135301  California  United States

In [ ]:
# Lambda

In [68]:
# Manejo de cadenas de texto
df['City'].str.upper()

Company
Apple                       CALIFORNIA
Samsung Electronics              SUWON
Alphabet                    CALIFORNIA
Foxconn                NEW TAIPEI CITY
Microsoft                   WASHINGTON
Huawei                        SHENZHEN
Dell Technologies                TEXAS
Facebook                    CALIFORNIA
Sony                             TOKYO
Hitachi                          TOKYO
Intel                       CALIFORNIA
IBM                           NEW YORK
Tencent                       SHENZHEN
Panasonic                        OSAKA
Lenovo                       HONG KONG
HP Inc.                     CALIFORNIA
LG Electronics                   SEOUL
Name: City, dtype: object

In [69]:
# Expresiones regulares
df['Country'].str.replace(' ','_')

Company
Apple                  United_States
Samsung Electronics      South_Korea
Alphabet               United_States
Foxconn                       Taiwan
Microsoft              United_States
Huawei                         China
Dell Technologies      United_States
Facebook               United_States
Sony                           Japan
Hitachi                        Japan
Intel                  United_States
IBM                    United_States
Tencent                        China
Panasonic                      Japan
Lenovo                         China
HP Inc.                United_States
LG Electronics           South_Korea
Name: Country, dtype: object

In [72]:
# filtrar por vocales
mask = df.index.str.match(r'^[aeiou]',flags=re.IGNORECASE)

NameError: name 're' is not defined