In [1]:
import pandas as pd

In [8]:
url = 'https://es.wikipedia.org/wiki/Comunidad_aut%C3%B3noma'
df_superficie = pd.read_html(url)[4]
df_superficie.columns = df_superficie.columns.get_level_values(1)
df_poblacion = pd.read_html(url)[5]
df_poblacion.columns = df_poblacion.columns.get_level_values(1)

In [9]:
df_superficie

,Comunidad o ciudad autónoma,Comunidad o ciudad autónoma.1,Superficie (km²),Porcentaje
0,1,Castilla y León,94 226,"18,6 %"
1,2,Andalucía,87 268,"17,2 %"
2,3,Castilla-La Mancha,79 463,"15,7 %"
3,4,Aragón,47 719,"9,4 %"
4,5,Extremadura,41 635,"8,2 %"
5,6,Cataluña,32 107,"6,3 %"
6,7,Galicia,29 574,"5,8 %"
7,8,Comunidad Valenciana,23 255,"4,6 %"
8,9,Región de Murcia,11 313,"2,9 %"
9,10,Principado de Asturias,10 604,"2,1 %"
10,11,Comunidad Foral de Navarra,10 391,"2,0 %"
11,12,Comunidad de Madrid,8022,"1,6 %"
12,13,Canarias,7447,"1,5 %"
13,14,País Vasco,7234,"1,4 %"
14,15,Cantabria,5326,"1,0 %"
15,16,La Rioja,5045,"1,0 %"
16,17,Islas Baleares,4992,"1,0 %"
17,18,Ceuta,19,"0,0 %"
18,19,Melilla,12,"0,0 %"
19,TOTAL,TOTAL,504 645,100 %

In [10]:
df_poblacion

,Comunidad o ciudad autónoma,Comunidad o ciudad autónoma.1,Población,Porcentaje,Densidad (hab./km²)
0,1,Andalucía,8 494 155,"17,84 %",9696
1,2,Cataluña,7 783 302,"16,35 %",24242
2,3,Comunidad de Madrid,6 744 456,"14,17 %",84077
3,4,Comunidad Valenciana,5 090 839,"10,69 %",21892
4,5,Galicia,2 689 152,"5,65 %",9093
5,6,Castilla y León,2 370 064,"4,98 %",2515
6,7,País Vasco,2 207 201,"4,63 %",30512
7,8,Canarias,2 176 412,"4,57 %",29225
8,9,Castilla-La Mancha,2 052 193,"4,32 %",2584
9,10,Región de Murcia,1 531 439,"3,22 %",13537
10,11,Aragón,1 325 342,"2,78 %",2778
11,12,Islas Baleares,1 176 254,"2,47 %",23338
12,13,Extremadura,1 054 245,"2,21 %",2532
13,14,Principado de Asturias,1 004 499,"2,11 %",9473
14,15,Comunidad Foral de Navarra,663 612,"1,39 %",6386
15,16,Cantabria,585 222,"1,23 %",11040
16,17,La Rioja,319 485,"0,67 %",6333
17,18,Melilla,85 159,"0,18 %",709658
18,19,Ceuta,82 566,"0,17 %",434558
19,TOTAL,TOTAL,47 615 034,100 %,9435

In [12]:
# crear copia de ambos dataframes
df_superficie_copy = df_superficie.copy()
df_poblacion_copy = df_poblacion.copy()

In [13]:
# Elimine la última fila de totales en cada DataFrame
df_superficie_copy = df_superficie_copy.drop(df_superficie_copy.index[-1])
df_superficie_copy

,Comunidad o ciudad autónoma,Comunidad o ciudad autónoma.1,Superficie (km²),Porcentaje
0,1,Castilla y León,94 226,"18,6 %"
1,2,Andalucía,87 268,"17,2 %"
2,3,Castilla-La Mancha,79 463,"15,7 %"
3,4,Aragón,47 719,"9,4 %"
4,5,Extremadura,41 635,"8,2 %"
5,6,Cataluña,32 107,"6,3 %"
6,7,Galicia,29 574,"5,8 %"
7,8,Comunidad Valenciana,23 255,"4,6 %"
8,9,Región de Murcia,11 313,"2,9 %"
9,10,Principado de Asturias,10 604,"2,1 %"
10,11,Comunidad Foral de Navarra,10 391,"2,0 %"
11,12,Comunidad de Madrid,8022,"1,6 %"
12,13,Canarias,7447,"1,5 %"
13,14,País Vasco,7234,"1,4 %"
14,15,Cantabria,5326,"1,0 %"
15,16,La Rioja,5045,"1,0 %"
16,17,Islas Baleares,4992,"1,0 %"
17,18,Ceuta,19,"0,0 %"
18,19,Melilla,12,"0,0 %"

In [14]:
df_poblacion_copy = df_poblacion.drop(df_poblacion_copy.index[-1])
df_poblacion_copy

,Comunidad o ciudad autónoma,Comunidad o ciudad autónoma.1,Población,Porcentaje,Densidad (hab./km²)
0,1,Andalucía,8 494 155,"17,84 %",9696
1,2,Cataluña,7 783 302,"16,35 %",24242
2,3,Comunidad de Madrid,6 744 456,"14,17 %",84077
3,4,Comunidad Valenciana,5 090 839,"10,69 %",21892
4,5,Galicia,2 689 152,"5,65 %",9093
5,6,Castilla y León,2 370 064,"4,98 %",2515
6,7,País Vasco,2 207 201,"4,63 %",30512
7,8,Canarias,2 176 412,"4,57 %",29225
8,9,Castilla-La Mancha,2 052 193,"4,32 %",2584
9,10,Región de Murcia,1 531 439,"3,22 %",13537
10,11,Aragón,1 325 342,"2,78 %",2778
11,12,Islas Baleares,1 176 254,"2,47 %",23338
12,13,Extremadura,1 054 245,"2,21 %",2532
13,14,Principado de Asturias,1 004 499,"2,11 %",9473
14,15,Comunidad Foral de Navarra,663 612,"1,39 %",6386
15,16,Cantabria,585 222,"1,23 %",11040
16,17,La Rioja,319 485,"0,67 %",6333
17,18,Melilla,85 159,"0,18 %",709658
18,19,Ceuta,82 566,"0,17 %",434558

In [15]:
# Elimimar la primera columna del dataframe de superficie por su indice
df_superficie_copy = df_superficie_copy.drop(df_superficie_copy.columns[0], axis=1)
# Cambie el nombre de la columna Comunidad Autónoma por Comunidad
df_superficie_copy = df_superficie_copy.rename(columns={'Comunidad o ciudad autónoma.1': 'Comunidad'})
df_superficie_copy = df_superficie_copy.rename(columns={'Superficie (km²)': 'Superficie'})
# Elimine la columna porcentaje de la tabla de superficie
df_superficie_copy = df_superficie_copy.drop(columns=['Porcentaje'])
df_superficie_copy

                     Comunidad Superficie
0              Castilla y León     94 226
1                    Andalucía     87 268
2           Castilla-La Mancha     79 463
3                       Aragón     47 719
4                  Extremadura     41 635
5                     Cataluña     32 107
6                      Galicia     29 574
7         Comunidad Valenciana     23 255
8             Región de Murcia     11 313
9       Principado de Asturias     10 604
10  Comunidad Foral de Navarra     10 391
11         Comunidad de Madrid       8022
12                    Canarias       7447
13                  País Vasco       7234
14                   Cantabria       5326
15                    La Rioja       5045
16              Islas Baleares       4992
17                       Ceuta         19
18                     Melilla         12

In [16]:
# Elimimar la primera columna del dataframe de población por su indice
df_poblacion_copy = df_poblacion_copy.drop(df_poblacion_copy.columns[0], axis=1)
# cambie el nombre de la columna Comunidad o ciudad autónoma por Comunidad
df_poblacion_copy = df_poblacion_copy.rename(columns={'Comunidad o ciudad autónoma.1': 'Comunidad'})
# cambiar el nombre de la columna Densidad (hab./km²) por Densidad
df_poblacion_copy = df_poblacion_copy.rename(columns={'Densidad (hab./km²)': 'Densidad'}) 
# Elimine la columna porcentaje de la tabla de población
df_poblacion_copy = df_poblacion_copy.drop(columns=['Porcentaje'])
df_poblacion_copy

                     Comunidad  Población  Densidad
0                    Andalucía  8 494 155      9696
1                     Cataluña  7 783 302     24242
2          Comunidad de Madrid  6 744 456     84077
3         Comunidad Valenciana  5 090 839     21892
4                      Galicia  2 689 152      9093
5              Castilla y León  2 370 064      2515
6                   País Vasco  2 207 201     30512
7                     Canarias  2 176 412     29225
8           Castilla-La Mancha  2 052 193      2584
9             Región de Murcia  1 531 439     13537
10                      Aragón  1 325 342      2778
11              Islas Baleares  1 176 254     23338
12                 Extremadura  1 054 245      2532
13      Principado de Asturias  1 004 499      9473
14  Comunidad Foral de Navarra    663 612      6386
15                   Cantabria    585 222     11040
16                    La Rioja    319 485      6333
17                     Melilla     85 159    709658
18                       Ceuta     82 566    434558

In [17]:
# Reemplace los valores de población y superficie para que sean números y convierta las columnas a entero.
df_poblacion_copy['Población'] = df_poblacion_copy['Población'].str.replace('\xa0', '').astype(int)
df_poblacion_copy

                     Comunidad  Población  Densidad
0                    Andalucía    8494155      9696
1                     Cataluña    7783302     24242
2          Comunidad de Madrid    6744456     84077
3         Comunidad Valenciana    5090839     21892
4                      Galicia    2689152      9093
5              Castilla y León    2370064      2515
6                   País Vasco    2207201     30512
7                     Canarias    2176412     29225
8           Castilla-La Mancha    2052193      2584
9             Región de Murcia    1531439     13537
10                      Aragón    1325342      2778
11              Islas Baleares    1176254     23338
12                 Extremadura    1054245      2532
13      Principado de Asturias    1004499      9473
14  Comunidad Foral de Navarra     663612      6386
15                   Cantabria     585222     11040
16                    La Rioja     319485      6333
17                     Melilla      85159    709658
18                       Ceuta      82566    434558

In [18]:
df_poblacion_copy.dtypes

Comunidad    object
Población     int64
Densidad      int64
dtype: object

In [19]:
# Convertir la columna Superficie a entero (es un object)
df_superficie_copy['Superficie'] = df_superficie_copy['Superficie'].str.replace('\xa0', '').astype(int)
df_superficie_copy

                     Comunidad  Superficie
0              Castilla y León       94226
1                    Andalucía       87268
2           Castilla-La Mancha       79463
3                       Aragón       47719
4                  Extremadura       41635
5                     Cataluña       32107
6                      Galicia       29574
7         Comunidad Valenciana       23255
8             Región de Murcia       11313
9       Principado de Asturias       10604
10  Comunidad Foral de Navarra       10391
11         Comunidad de Madrid        8022
12                    Canarias        7447
13                  País Vasco        7234
14                   Cantabria        5326
15                    La Rioja        5045
16              Islas Baleares        4992
17                       Ceuta          19
18                     Melilla          12

In [20]:
df_superficie_copy.dtypes

Comunidad     object
Superficie     int64
dtype: object

In [28]:
# Realice la mezcla de población y superficie en un único DataFrame filas y columnas
df = pd.merge(df_superficie_copy, df_poblacion_copy, on='Comunidad', how='inner')
df

                     Comunidad  Superficie  Población  Densidad
0              Castilla y León       94226    2370064      2515
1                    Andalucía       87268    8494155      9696
2           Castilla-La Mancha       79463    2052193      2584
3                       Aragón       47719    1325342      2778
4                  Extremadura       41635    1054245      2532
5                     Cataluña       32107    7783302     24242
6                      Galicia       29574    2689152      9093
7         Comunidad Valenciana       23255    5090839     21892
8             Región de Murcia       11313    1531439     13537
9       Principado de Asturias       10604    1004499      9473
10  Comunidad Foral de Navarra       10391     663612      6386
11         Comunidad de Madrid        8022    6744456     84077
12                    Canarias        7447    2176412     29225
13                  País Vasco        7234    2207201     30512
14                   Cantabria        5326     585222     11040
15                    La Rioja        5045     319485      6333
16              Islas Baleares        4992    1176254     23338
17                       Ceuta          19      82566    434558
18                     Melilla          12      85159    709658

In [23]:
# Calcule la densidad de población de cada comunidad autónoma.
df['Densidad'] = df['Población'] / df['Superficie']
df

                     Comunidad  Superficie  Población     Densidad
0              Castilla y León       94226    2370064    25.152973
1                    Andalucía       87268    8494155    97.334132
2           Castilla-La Mancha       79463    2052193    25.825768
3                       Aragón       47719    1325342    27.773885
4                  Extremadura       41635    1054245    25.321124
5                     Cataluña       32107    7783302   242.417604
6                      Galicia       29574    2689152    90.929600
7         Comunidad Valenciana       23255    5090839   218.913739
8             Región de Murcia       11313    1531439   135.369840
9       Principado de Asturias       10604    1004499    94.728310
10  Comunidad Foral de Navarra       10391     663612    63.864113
11         Comunidad de Madrid        8022    6744456   840.744951
12                    Canarias        7447    2176412   292.253525
13                  País Vasco        7234    2207201   305.114874
14                   Cantabria        5326     585222   109.880210
15                    La Rioja        5045     319485    63.327056
16              Islas Baleares        4992    1176254   235.627804
17                       Ceuta          19      82566  4345.578947
18                     Melilla          12      85159  7096.583333